body {
  font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 10px;
}
header {
  background-color: #000000;
  color: #fff;
  padding: 10px;
  text-align: center;
  position: sticky;
  background: op;
  top: 10px;
}
footer {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  position: fixed;
}
.container { 
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  box-shadow: 5px 5px 5px #000000;
}
.column {
  text-align: center;
  padding: 10px;
  border: 5px solid #ddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
input[type="text"]{
  text-align: center;
  width: 40%;
  padding: 10px 0px;
  border-radius: 5px;
}
.button-31 {
  background-color: #000000;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 10px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 25%;
}

.button-31:hover,
.button-31:focus {
  opacity: .75;
}
label{
  font-weight: bold;
}
.items{
  text-align:  left;
}
.button-21 {
  background-color: #000000;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 10px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 16%;
}
.todolist{
  font-weight: bolder;
}